* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  width: 700px;
  height: 700px;
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  border: 1px solid black;
}
